@import "tailwindcss";

#app {
  margin: 0 auto;
  font-weight: normal;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-text-main: #0d1c29;
  --color-text-sec: #fff;
  --color-primary: #0066cc;
  --color-danger: rgb(255, 58, 58);
  --color-horizontal-line: #0066cc;
  --color-bg: #ffffff;
  --color-gray: #bcc1c5;
}

@layer base {
  .dark {
    --color-text-main: #ffffff; 
  --color-text-sec: #ffffff;
  --color-primary: #223647;
  --color-danger: rgb(255, 58, 58);
  --color-horizontal-line: #0066cc;
  --color-bg: #0d1c29;
  --color-gray: #bcc1c5;
  }
}

*{
  scroll-behavior: smooth;
  transition: 0.3s ease-in-out;
}

body{
  background-color: var(--color-bg);
}

[class$="-error"] {
display: none;
}

.follow-links img, form .icon{
  filter: brightness(0) saturate(100%) invert(21%) sepia(60%) saturate(5527%) hue-rotate(200deg) brightness(93%) contrast(101%);
}
